@using System.Dynamic
@using Microsoft.AspNetCore.Components

<div class="moto">
    <div class="card border-0" style="width: 25rem;">
        <div class="caixaImagem" style="height: 18rem">
            <img class="card-img-top" src="@ImageUrl" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">@ProductName</h5>
            <p class="card-text text-truncate">@ProductDescription</p>
            <button class="btn btn-light" @onclick="OnButtonClicked">Locar</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public string ImageUrl { get; set; }
    [Parameter] public string ProductName { get; set; }
    [Parameter] public string ProductDescription { get; set; }
    [Parameter] public EventCallback<dynamic> OnMotoSelected { get; set; }

    private dynamic Moto => new { ImageUrl, ProductName, ProductDescription };

    private async Task OnButtonClicked()
    {
        await OnMotoSelected.InvokeAsync(Moto);
    }
}
