@using LocadoraBlazorInterface.Web.Shared.Inputs
@using LocadoraBlazorInterface.Web.Shared.Components



<div class="acb">
	<div class="text-secondary px-4 py-5 text-center acb">
		<div class="py-5">
			<h1 class="display-5 fw-bold text-white">Assine e recebe nossos informativos!</h1>
			<div class="col-lg-6 mx-auto">
				<form>
					<div class="row ">

						<div class="col-md-6 col-lg-10 ">
							<div class="mb-3">
								<input type="email" class="form-control btn-lg" id="exampleFormControlInput1" placeholder="name@example.com">
							</div>
						</div>

						<div class="align-items-end col-lg-2">
							<button type="submit" class=" btn-light btn-lg col-lg-12 buttonHero">Assinar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


@code {

}
