@using System.Linq.Expressions


<div class="input-container col-@Size mt-3" title="@Tip">
    <label for="txt-@Id" class="form-label">@Label</label>
    <input class="form-control id="txt-@Id" />
    <div id="@Id-Help" class="form-text">@Tip</div>

</div>

@code {

    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? PlaceHolder { get; set; }
    [Parameter] public string? Tip { get; set; }
    [Parameter] public int? Size { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;

}