
<div class="acb">
<div class="text-secondary px-4 py-5 text-center acb">
	<div class="py-5">
		<h1 class="display-5 fw-bold text-white">Uma nova experência em alugar motos!</h1>
		<div class="col-lg-6 mx-auto">
			<form>
				<div class="row mb-5  align-content-center">
					<div class="col-md-6 col-lg-8">
						<select class="form-select" id="motorcycle-select">
							<option selected>Choose...</option>
							<option value="motorcycle1">Motorcycle 1</option>
							<option value="motorcycle2">Motorcycle 2</option>
							<option value="motorcycle3">Motorcycle 3</option>
						</select>
					</div>
					<div class="col-md-6 col-lg-2">
						<input type="date" class="form-control" id="date-input">
					</div>
					<div class="col-md-6 col-lg-2 d-flex align-items-end">
						<button type="submit" class="btn btn-light btn-lg buttonHero">Locar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>

@code {

}
