@page "/Gerenciar_Usuario"
@using LocadoraBlazorInterface.Web.Shared.Inputs
@using LocadoraBlazorInterface.Web.Shared.Components
@using LocadoraBlazorAPI.Entities

<div class="container">
	<div class="row">
		<div class="mt-5">
			<h3 class=" text-center">Gerenciar Usuário</h3>
		</div>

		<div>
			<input type="radio" id="cliente" name="usuario" @onchange="@(e => MudarTipoUsuario((string)e.Value))" value="cliente">
			<label for="cliente">Cliente</label><br>
			<input type="radio" id="funcionario" name="usuario" @onchange="@(e => MudarTipoUsuario((string)e.Value))" value="funcionario">
			<label for="funcionario">Funcionario</label>
		</div>

		@if (isCliente)
		{
			<ClienteForm />
		}
		else if (isFuncionario)
		{
			<FuncionarioForm />
		}
	</div>
	<button class="btn btn-outline-dark">Cadastrar</button>
	<Tabela headerItem1="Nome"
			headerItem2="CPF"
			headerItem3="Tipo"
			Items="users" />
</div>


@code {
		bool isCliente = false;
		bool isFuncionario = false;
		int formSize = 6;
		List<Tabela.ItemAdicional> users = new List<Tabela.ItemAdicional>()
	{
		new Tabela.ItemAdicional() {Item1 = "John Doe", Item2 = "123.456.789-00", Item3 = "Cliente"},
		new Tabela.ItemAdicional() {Item1 = "Jane Smith", Item2 = "987.654.321-00", Item3 = "Funcionário"},
		new Tabela.ItemAdicional() {Item1 = "Bob Williams", Item2 = "111.222.333-44", Item3 = "Gerente"},
        // Add more users as needed
    };

		private void MudarTipoUsuario(string tipoUsuario)
		{
			if (tipoUsuario == "cliente")
			{
				isCliente = true;
				isFuncionario = false;
			}
			else if (tipoUsuario == "funcionario")
			{
				isCliente = false;
				isFuncionario = true;
			}
		}


	}
